

body {
    background-color: #BBD6B8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

  #background {
    background-color: #376e4d; 
  }


  /* FIX IMGS WITH GABBY ON PHOTOSHOP */
  #rpng {
    width: 50px;
    height: 50px;
  }
  #ppng {
    width: 50px;
    height: 50px;
  }
  #spng {
    width: 50px;
    height: 50px;
  }