/* Problems to fix: 
1) why wont my background color work?
 */
body {
  background-color: #7d947b ;
 

  font-family: 'Arial', sans-serif;

}



#PLAYERBG {
  background-color: #AEC2B6;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#COMPUTERBG {
  background-color: #94AF9F;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rpng {
  width: 200px;
  height: 200px;
}
#ppng {
  width: 200px;
  height: 200px;
}
#spng {
  width: 200px;
  height: 200px;
}


#scissors {
cursor: pointer;
border: 1px solid #ffffff;
background-color: transparent;
height: 210px;
width: 220px;
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);
}

#paper {
cursor: pointer;
border: 1px solid #ffffff;
background-color: transparent;
height: 210px;
width: 220px;
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);
}

#rock {
cursor: pointer;
border: 1px solid #ffffff;
background-color: transparent;
height: 210px;
width: 220px;
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);

}




/* MADLIB CSS */


#madlib {
  width: 90%;
  height: 15%;
  margin: 0 auto;
}

.vanessa {
  background-color: #DBE4C6;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-family: 'Rubik Doodle Shadow', system-ui;
}


#madLibOutput {
  text-align: center;

}

#scoreboard {
  text-align: center;
}
#centerbuttons {
  display:flex;
  justify-content: center;
  align-items: center;
}